PyYAML
tensorflow-gpu
opencv-python
requests
distributed
bokeh
keras
centrosome
mahotas
plotnine
papermill
python-dotenv
ipykernel
fcswrite
tifffile
fire
seaborn
flowdec[tf-gpu]
dash
dash-renderer
dash-html-components
dash-core-components
plotly
