PyYAML
numpy
scipy
pandas
tensorflow-gpu
scikit-image
scikit-learn
opencv-python
requests
matplotlib
dask
distributed
bokeh
keras
centrosome
mahotas
plotnine
papermill
python-dotenv
jupyterlab
ipykernel
fcswrite
tifffile
fire
seaborn
flowdec[tf_gpu]
dash
dash-renderer
dash-html-components
dash-core-components
plotly
nodeenv
itkwidgets
